---
import { Image } from "@astrojs/image/components";
import SectionLayout from "../layouts/SectionLayout.astro";
import PaperBackground from "./shared/PaperBackground.astro";
import StrokeMapBackground from "./StrokeMapBackground.astro";
import ARABlason from "../assets/ARA_blason.svg";
import PACABlason from "../assets/PACA_blason.svg";
import { frontmatter } from '../content/explanation.md';

---

<SectionLayout title="Généalogiste Familial" sectionId="explanations">
  <PaperBackground />
  <StrokeMapBackground />
  <div class="explanation-text">
    <p>{frontmatter.subtitle1}</p>
    <ul>
      <li>{frontmatter.listitem1_1}</li>
      <li>{frontmatter.listitem1_2}</li>
      <li>{frontmatter.listitem1_3}</li>
    </ul>
    <p>{frontmatter.subtitle2}</p>
    <ul>
      <li>{frontmatter.listitem2_1}</li>
      <li>{frontmatter.listitem2_2}</li>
    </ul>
    <p class="text-italic">{frontmatter.info}</p>
    <p>{frontmatter.subtitle3}</p>

  </div>
  <div class="blasons-container">
    <div class="blason">
      <Image
        src={ARABlason}
        alt="blason Auvergne Rhône-Alpes"
        width="100"
        aspectRatio={490/600}
      />
      <p class="blason-title">Auvergne Rhône-Alpes</p>
    </div>
    <div class="blason">
      <Image
        src={PACABlason}
        alt="blason Auvergne Rhône-Alpes"
        width="110"
        aspectRatio={600/660}
      />
      <p class="blason-title">PACA</p>
    </div>
  </div>
</SectionLayout>

<style lang="scss">
  .explanation-text {
    width: 80%;
    max-width: 800px;
    font-size: 1.1rem;
    font-family: 'Crimson Text', serif;
    right: -5%;
    position: relative;
    z-index: 2;
    p {
      width: 100%;
      margin: 20px 0;
      font-weight: 600;
      &.text-italic {
        font-weight: 500;
        font-style: italic;
      }
    }
    ul {
      list-style: url('../assets/checkmark.svg');
      li {
        line-height: 1.6;
      }
    }
  }
  .blasons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: min(20vw, 150px);
    margin-top: 60px;
    position: relative;
    z-index: 2;
    .blason {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      user-select: none;
      pointer-events: none;
      opacity: 0.85;
      .blason-title {
        text-align: center;
        font-family: 'Crimson Text', serif;
        margin-top: 20px;
      }
    }
  }
  
  @media screen and (max-width: 500px) {
    .explanation-text {
      width: 85%;
    }
    .blasons-container {
      flex-direction: column;
      gap: 30px;
      .blason-title {
        margin-top: 10px;
      }
    }
  }
</style>