---
import SectionLayout from "../layouts/SectionLayout.astro";
import ServiceCard from "./ServiceCard.astro";
import { frontmatter } from "../content/services.md";
---

<SectionLayout
  title="Préstations"
  sectionId="prestations"
  background="#DEB057"
>
  <div class="cards-container">
    <ServiceCard
      cardTitle={frontmatter.title1}
      cardContent={frontmatter.cardContent1}
      buttonContent={frontmatter.buttonContent1}
    />
    <ServiceCard
      cardTitle={frontmatter.title2}
      cardContent={frontmatter.cardContent2}
      buttonContent={frontmatter.buttonContent2}
    />
  </div>
</SectionLayout>

<style lang="scss">
  .cards-container {
    width: clamp(850px, 80%, 1100px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media screen and (max-width: 800px) {
    .cards-container {
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 30px;
    }
  }
</style>