---
import SectionLayout from "../layouts/SectionLayout.astro";
import ServiceCard from "./ServiceCard.astro";
import { frontmatter } from "../content/services/services.md";
import * as bigCard1Content from "../content/services/bigCard1.md";
import * as bigCard2Content from "../content/services/bigCard2.md";
import ServiceBigCard from "./ServiceBigCard.astro";
---

<SectionLayout
  title="Préstations"
  sectionId="prestations"
  background="#DEB057"
>
  <ServiceBigCard
    id="services-big-card-1"
    cardTitle={frontmatter.title1}
  >
    <bigCard1Content.Content/>
  </ServiceBigCard>
  <ServiceBigCard
    id="services-big-card-2"
    cardTitle={frontmatter.title2}
  >
    <bigCard2Content.Content/>
  </ServiceBigCard>
  <div class="cards-container">
    <ServiceCard
      cardTitle={frontmatter.title1}
      cardContent={frontmatter.cardContent1}
      buttonContent={frontmatter.buttonContent1}
      cardClass="card-1"
    />
    <ServiceCard
      cardTitle={frontmatter.title2}
      cardContent={frontmatter.cardContent2}
      buttonContent={frontmatter.buttonContent2}
      cardClass="card-2"
    />
  </div>
</SectionLayout>

<style lang="scss">
  .cards-container {
    width: clamp(850px, 80%, 1100px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media screen and (max-width: 800px) {
    .cards-container {
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 30px;
    }
  }
</style>