---
import SectionLayout from "../layouts/SectionLayout.astro";
import ServiceCard from "./ServiceCard.astro";
import ServiceBigCard from "./ServiceBigCard.astro";
import { Content as ServiceIntroContent} from "../content/services/services-intro.md";
import { Content as ServiceCard1Content, frontmatter as card1Frontmatter } from "../content/services/card1.md";
import { Content as ServiceCard2Content, frontmatter as card2Frontmatter } from "../content/services/card2.md";
import { Content as ServiceBigCard1Content, frontmatter as bigCard1Frontmatter } from "../content/services/bigCard1.md";
import { Content as ServiceBigCard2Content, frontmatter as bigCard2Frontmatter } from "../content/services/bigCard2.md";
---

<SectionLayout
  title="Préstations"
  sectionId="prestations"
  background="#DEB057"
>
  <div class="intro-container">
    <ServiceIntroContent/>
  </div>
  <ServiceBigCard
    id="services-big-card-1"
    cardTitle={bigCard1Frontmatter.title}
  >
    <ServiceBigCard1Content />
  </ServiceBigCard>
  <ServiceBigCard
    id="services-big-card-2"
    cardTitle={bigCard2Frontmatter.title}
  >
    <ServiceBigCard2Content />
  </ServiceBigCard>
  <div class="cards-container">
    <ServiceCard
      cardTitle={card1Frontmatter.title}
      buttonContent={card1Frontmatter.button}
      cardClass="card-1"
    >
      <ServiceCard1Content />
    </ServiceCard>
    <ServiceCard
      cardTitle={card2Frontmatter.title}
      buttonContent={card2Frontmatter.button}
      cardClass="card-2"
    >
      <ServiceCard2Content />
    </ServiceCard>
  </div>
</SectionLayout>

<style lang="scss">

  .intro-container {
    width: clamp(850px, 80%, 1100px);
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: 'Crimson Text', serif;
    margin-bottom: 40px;
  }

  .cards-container {
    width: clamp(850px, 80%, 1100px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  @media screen and (max-width: 800px) {
    .cards-container {
      width: 100%;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 30px;
    }
  }
</style>