---
import Button from "./shared/Button.astro";

export interface Props {
  cardTitle: string;
  buttonContent: string;
  cardClass: string;
}

const { cardTitle, buttonContent, cardClass} = Astro.props;
---

<article class={`card ${cardClass}`}>
  <h2>{cardTitle}</h2>
  <div class="card-content">
    <slot />
  </div>
  <Button
    title={buttonContent}
    fontSize="1.2rem"
    buttonColor="#DEB057"
  />
</article>

<style lang="scss">
  .card {
    width: 50%;
    padding: 3rem 3rem 2rem 3rem;
    background-color: var(--white);
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 1.5rem;
      font-family: "Crimson Text", serif;
      text-align: center;
      margin-bottom: 2rem;
      position: relative;
      z-index: 1;
    }
    .card-content {
      flex-grow: 1;
      font-size: 0.875rem;
      margin-bottom: 1.6rem;
      text-align: justify;
      position: relative;
      z-index: 1;
    }
    .card-content :global(p) {
      margin-bottom: 1rem;
    }
    .card-content :global(h3) {
      font-size: 0.875rem;
      margin-bottom: 0.2rem;
    }
  }

  @media screen and (max-width: 900px) {
    .card {
      max-width: 500px;
      width: 80%;
    }
  }

  @media screen and (max-width: 600px) {
    .card {
      width: 100%;
      max-width: 400px;
      padding: 2rem;
    }
  }
</style>

<script define:vars={{cardClass}}>

  const openButton = document.querySelector(`.book-container .${cardClass} .begin-button`);
  const serviceBigCard = document.querySelector(`#services-big-${cardClass}`);
  const serviceBigCardCloseBtn = document.querySelector(`#services-big-${cardClass} .close-btn`);

  openButton.addEventListener("click", openBigCard);
  serviceBigCardCloseBtn.addEventListener("click", closeBigCard);

  function closeBigCard() {
    document.removeEventListener("click", handleClickOutsideClose);
    serviceBigCard.classList.remove("visible");
    document.body.classList.remove("no-scroll");
    setTimeout(() => {
      serviceBigCard.classList.add("no-display");
    }, 200);
  }

  function openBigCard() {
    serviceBigCard.classList.remove("no-display");
    serviceBigCard.classList.add("visible");
    document.body.classList.add("no-scroll");
    document.removeEventListener("click", handleClickOutsideClose);
    setTimeout(() => {
      document.addEventListener("click", handleClickOutsideClose);
    }, 200);
  }

  function handleClickOutsideClose(e) {
    if (!serviceBigCard.contains(e.target)) {
      closeBigCard()
    }
  }

</script>