---
import SectionLayout from '../layouts/SectionLayout.astro'
import ServiceCard from './ServiceCard.astro'
import ServiceBigCard from './ServiceBigCard.astro'
import { Content as ServiceIntroContent } from '../content/services/services-intro.md'
import {
  Content as ServiceCard1Content,
  frontmatter as card1Frontmatter,
} from '../content/services/card1.md'
import {
  Content as ServiceCard2Content,
  frontmatter as card2Frontmatter,
} from '../content/services/card2.md'
import {
  Content as ServiceBigCard1Content,
  frontmatter as bigCard1Frontmatter,
} from '../content/services/bigCard1.md'
import {
  Content as ServiceBigCard2Content,
  frontmatter as bigCard2Frontmatter,
} from '../content/services/bigCard2.md'
---

<SectionLayout title="Prestations" sectionId="prestations" background="#DEB057">
  <div class="intro-container">
    <ServiceIntroContent />
  </div>
  <ServiceBigCard
    id="services-big-card-1"
    cardTitle={bigCard1Frontmatter.title}
  >
    <ServiceBigCard1Content />
  </ServiceBigCard>
  <ServiceBigCard
    id="services-big-card-2"
    cardTitle={bigCard2Frontmatter.title}
  >
    <ServiceBigCard2Content />
  </ServiceBigCard>
  <div class="book-container">
    <ServiceCard
      cardTitle={card1Frontmatter.title}
      buttonContent={card1Frontmatter.button}
      cardClass="card-1"
      ariaLabel="Ouvrir la carte de la généalogie familiale"
    >
      <ServiceCard1Content />
    </ServiceCard>
    <ServiceCard
      cardTitle={card2Frontmatter.title}
      buttonContent={card2Frontmatter.button}
      cardClass="card-2"
      ariaLabel="Ouvrir la carte de l'Histoire et de l'étude de bâti"
    >
      <ServiceCard2Content />
    </ServiceCard>
  </div>
</SectionLayout>

<style lang="scss">
  .intro-container {
    width: clamp(850px, 80%, 1100px);
    font-size: 1.1rem;
    line-height: 1.5;
    font-family: 'Crimson Text', serif;
    margin-bottom: 40px;
    position: relative;
  }
  .intro-container :global(p) {
    margin-bottom: 10px;
    width: 100%;
  }
  .book-container {
    box-sizing: border-box;
    border-radius: 16px;
    width: clamp(850px, 80%, 1000px);
    box-shadow: 0 0 10px 0 #0000005c;
    border: 10px solid #70541a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
  }
  .book-container :global(.card-1) {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 6%
      ),
      var(--paperBackgroundUrl);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
  }
  .book-container :global(.card-2) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.8) 0%,
        rgba(0, 0, 0, 0) 6%
      ),
      var(--paperBackgroundUrl);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  @media screen and (max-width: 900px) {
    .intro-container {
      width: 100%;
    }
    .book-container {
      width: 100%;
      box-shadow: none;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 30px;
      border: none;
    }
    .book-container :global(.card-1),
    .book-container :global(.card-2) {
      border-radius: 16px;
      background-image: var(--paperBackgroundUrl);
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
    }
  }
</style>
